{% extends "base.html" %}

{% block title %}Daftar Jadwal{% endblock %}

{% block content %}
    <h1>Daftar Semua Jadwal</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mata Kuliah</th>
                <th>Dosen</th>
                <th>Ruangan</th>
                <th>Hari</th>
                <th>Waktu</th>
            </tr>
        </thead>
        <tbody>
            {% for j in semua_jadwal %}
            <tr>
                <td>{{ j.mata_kuliah }}</td>
                <td>{{ j.nama_dosen }}</td>
                <td>{{ j.ruangan }}</td>
                <td>{{ j.hari }}</td>
                <td>{{ j.jam_mulai }} - {{ j.jam_selesai }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Belum ada jadwal.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}