{% extends "polls/base.html" %}

{% block title %}Vote{% endblock %}

{% block content %}
    <h1>{{ question.question_text }}</h1>

    {% if error_message %}
        <p class="error-message"><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post" class="choice-form">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <label>
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                {{ choice.choice_text }}
            </label>
        {% endfor %}
        <input type="submit" value="Vote" class="btn">
    </form>
{% endblock %}